.section_container {
  display: flex;
  width: 100%;
  min-height: 900px;
  height: 100%;
  padding-top: 4em;
  align-items: start;
  justify-content: center;
}

.section_container > .content {
  display: flex;
  max-width: 1147.19px;
  min-width: 1147.19px;
  width: 60%;
  gap: 40px;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;

  & > div {
    display: flex;
    gap: 15px;
    flex-direction: column;

    & > h3 {
      font-size: 20px;
      font-weight: 700;
      font-style: italic;
      font-family: "Gilroy", sans-serif;
    }
  }

  @media (max-width: 1280px) {
    min-width: 0;
    width: 90vw;
  }

  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.section_container > .content > .right_content {
  width: 100%;

  & > .order_container {
    display: flex;
    width: 650px;
    gap: 30px;
    padding: 45px;
    border-radius: 8px;
    flex-direction: column;
    background-color: #f3f2f2;

    @media (max-width: 1280px) {
      width: 55vw;
    }

    & > header {
      & > h4 {
        font-size: 18px;
        font-weight: 500;
        font-family: "Gilroy", sans-serif;
      }

      & > p {
        font-size: 15px;
        font-weight: 500;
        font-family: "Gilroy", sans-serif;
      }
    }

    & > .form {
      display: flex;
      gap: 30px;
      flex-direction: column;

      & > div {
        display: flex;
        gap: 25px;

        &:nth-child(1) > label:nth-child(1),
        &:nth-child(3) > label:nth-child(1),
        &:nth-child(4) > label:nth-child(1) {
          width: 30%;

          @media (max-width: 992px) {
            width: 45%;
          }
        }

        &:nth-child(3) > label:nth-child(2) {
          width: 40%;

          @media (max-width: 992px) {
            width: 60%;
          }
        }

        &:nth-child(1) > label:nth-child(2),
        &:nth-child(4) > label:nth-child(2) {
          width: 50%;

          @media (max-width: 992px) {
            width: 60%;
          }
        }

        &:nth-child(2) > label:nth-child(1) {
          width: 100%;
        }

        & > label {
          & > input {
            width: 100%;
            border: hidden;
            outline: none;
            padding: 10px;
            font-size: 16px;
            font-weight: 300;
            border-radius: 0;
            background-color: transparent;
            font-family: "Gilroy", sans-serif;
            border-right: 2px solid #38160d;
            border-bottom: 2px solid #38160d;
          }
        }
      }
    }

    & > .buttons_container {
      display: flex;
      gap: 15px;
      flex-direction: row;

      & > button {
        display: flex;
        gap: 5px;
        cursor: pointer;
        color: #000000;
        border-radius: 8px;
        padding: 15px 20px;
        border: 2px solid #38160d;
        background-color: transparent;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        text-transform: uppercase;
        font-family: "Gilroy", sans-serif;
      }

      @media (max-width: 992px) {
        flex-direction: column;
      }
    }

    @media (max-width: 992px) {
      width: 100%;
    }
  }
}

.section_container > .content > .left_content {
  width: 100%;

  & > .cart_container {
    display: flex;
    width: 450px;
    height: 260px;
    padding: 45px;
    border-radius: 8px;
    flex-direction: column;
    background-color: #f3f2f2;
    justify-content: space-between;

    & > .text_container {
      display: flex;
      gap: 15px;
      flex-direction: column;

      & > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & > p {
          color: #000000;
          font-size: 16px;

          font-family: "Gilroy", sans-serif;
        }
      }

      & > div:nth-child(3) {
        & > p {
          font-weight: 600;
        }
      }
    }

    & > button {
      width: 100%;
      height: 48px;
    }

    @media (max-width: 1280px) {
      width: 30vw;
    }

    @media (max-width: 992px) {
      width: 100%;
    }
  }
}
