.section_container {
  display: flex;
  width: 100%;
  min-height: 900px;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/home-banner.png");
}

.section_container > div {
  display: flex;
  max-width: 1147.19px;
  min-width: 1147.19px;
  width: 60%;

  & > h1 {
    position: relative;
    max-width: 568px;
    color: #ffffff;
    font-size: clamp(70px, 5.5vw, 76px);
    font-weight: 800;
    font-family: "Gilroy", sans-serif;
    transform-origin: left top;

    @media (max-width: 1080px) {
      transform: scale(0.9);
    }

    @media (max-width: 768px) {
      font-size: 55px;
      transform: scale(0.8);
    }

    @media (max-width: 480px) {
      width: 100%;
      font-size: 50px;
    }

    @media (max-width: 360px) {
      font-size: 42px;
    }
  }

  & > h1::before {
    content: "";
    position: absolute;
    bottom: -30px;
    width: 40%;
    height: 10px;
    border-radius: 100px;
    background-color: #07beb8;
  }

  @media (max-width: 768px) {
    h1::before {
      height: 8px;
    }
  }

  @media (max-width: 1280px) {
    min-width: 0;
    width: 90vw;
  }
}
