.header {
  display: flex;
  width: 100%;
  height: 7.5em;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  max-width: 1147.19px;
  min-width: 1147.19px;
  width: 60vw;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1280px) {
    min-width: 0;
    width: 90vw;
  }
}

.navbar img {
  width: 100px;
  height: 58.6px;
  object-fit: contain;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;

  @media (max-width: 768px) {
    display: none;
  }
}

.navbar ul li {
  color: #000000;
  font-size: 16px;
  font-weight: 200px;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  transition: color 0.3s ease-in-out;
}

.navbar ul li:hover {
  color: #07beb8;
}

.navbar div {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.menu_button {
  display: none;
  width: 45px;
  height: 45px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 8px;
  align-items: center;
  background-color: #38160d;

  @media (max-width: 768px) {
    display: flex;
  }
}
