.section_container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 5em 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  display: flex;
  max-width: 1147.19px;
  min-width: 1147.19px;
  width: 60%;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (max-width: 1280px) {
    min-width: 0;
    width: 90vw;
  }
}

.subtitle {
  color: #000000;
  align-self: self-start;
  font-style: italic;
  font-size: clamp(30px, 3vw, 40px);
  font-family: "Gilroy", sans-serif;
}

.carousel_content {
  display: flex;
  padding-bottom: 30px;
}

:global(.slick-slider) {
  display: flex !important;
  max-width: 1147.19px;
  min-width: 1147.19px;
  width: 100%;
  cursor: grab;

  @media (max-width: 1280px) {
    min-width: 0;
    width: 90vw;
  }
}

:global(.slick-list) {
  display: flex !important;
  margin: 0 -20px;
}

:global(.slick-track) {
  display: flex !important;
}

:global(.slick-slide) {
  display: flex !important;
  margin: 0 20px;

  & > div > div {
    display: flex !important;
    width: 100% !important;
  }
}

:global(.slick-list:first-child) {
  margin-left: 0;
}

:global(.slick-list:last-child) {
  margin-right: 0;
}

:global(.slick-slide:first-child) {
  margin-left: 0;
}

:global(.slick-slide:last-child) {
  margin-right: 0;
}

.coffe_card {
  display: flex !important;
  max-width: 400px;
  width: 100%;
  gap: 20px;
  height: 380px;
  padding: 10px 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f3f2f2;

  & > img {
    width: 120px;
    height: 107.27px;
  }

  & > h3 {
    font-size: 22px;
    font-weight: 600;
    font-family: "Gilroy", sans-serif;
  }

  & > p {
    font-size: 14px;
    font-weight: 400;
    font-family: "Gilroy", sans-serif;
  }

  & > div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    & > p {
      font-size: 18px;
      font-weight: 400;
      font-family: "Gilroy", sans-serif;

      & > span {
        font-size: 24px;
        font-weight: 600;
      }
    }
  }

  @media (max-width: 480px) {
    max-width: 100%;
  }
}
